.market-portal {
    height: 100vh;
    width: 100%
}

.market-portal-navbar {
    height: 5vh;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
}

.market-portal-bottom {
    height: 100%;
}

.market-portal-button {
    width: 23%;
}

.market-button-back {
    width: 8% !important;
}