.ap-flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: whitesmoke;
  height: 90vh;
}

.ap-left {
  width: 30%;
}

.ap-right {
  width: 70%;
}

.ap-border {
  padding: 25px;
  border-width: 5px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: lightgray;
}

.ap-border-two {
  padding: 2px;
  border-width: 5px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: lightgray;
}

.ap-camera-title-label {
  height: 5vh;
  vertical-align: middle;
}

.ap-title {
  height: 5vh;
}

.ap-cameras-left {
  width: 15%;
}

.ap-cameras-right {
  width: 85%;
}

.ap-flex-container-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90vh;
}

.ap-cameras-options {
  height: 10vh;
}

.ap-cameras-live {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  width: 100%;
}

.ap-cameras-screenshots {
  height: 80vh;
  width: 100%;
}

.ap-cameras-display-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ap-cameras-display-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ap-camera {
  height: 40vh;
  width: 50%;
}

.ap-camera-canvas {
  height: 100%;
  width: 100%;
  background-color: gray;
}

.camera-menu-select {
  display: flex;
  align-items: center;
}

.menu-list-item {
  height: 3.7vh;
  width: 20%;
}
